<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/style.css" />
</head>
<body>

  <div class="container">

    <div class="card dashboard-header">
      <h2>Admin Dashboard</h2>
      <a href="/admin/products/new" class="btn">➕ Add New Product</a>
    </div>

    <!-- PRODUCT LIST -->
    <div class="card">
      <h3>Existing Products</h3>

      <% if (products.length === 0) { %>
        <p>No products added yet.</p>
      <% } else { %>

        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Link</th>
              <th>Action</th>
              <th>Edit</th>
            </tr>
          </thead>

          <tbody>
              <% products.forEach(product => { %>
                <tr>
                  <td data-label="Image">
                    <img src="<%= product.image %>" alt="product" class="product-img" />
                  </td>
                
                  <td data-label="Name"><%= product.name %></td>
                
                  <td data-label="Price">₹<%= product.price %></td>
                
                  <td data-label="Link">
                    <a href="<%= product.link %>" target="_blank">View</a>
                  </td>
                
                  <td data-label="Action">
                    <form action="/admin/products/<%= product._id %>/delete" method="POST">
                      <button
                        type="submit"
                        class="btn btn-danger delete-btn"
                        onclick="return confirm('Delete this product?')"
                      >
                        Delete
                      </button>
                    </form>
                  </td>
                   <td data-label="Edit">
                    <form action="/admin/products/<%= product._id %>/edit" method="GET">
                      <button
                        type="submit"
                        class="btn btn-danger delete-btn"
                        style="background: green;"
                      >
                        Edit
                      </button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>

        </table>

      <% } %>
    </div>

  </div>

</body>
</html>
