<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

     <!-- Common CSS -->
  <link rel="stylesheet" href="/footer.css" />
  <link rel="stylesheet" href="/home.css" />

</head>
<body>
  <div class="page-container">
    <%- include("navbar") %>

    <section class="auto-slider">
  <div class="slider-track">
    <img src="/images/Banner1.png" alt="Image 1">
    <img src="/images/Banner2.png" alt="Image 2">
    <img src="/images/Banner1.png" alt="Image 1">
    <img src="/images/Banner2.png" alt="Image 2">
    <img src="/images/Banner1.png" alt="Image 1">
    <img src="/images/Banner2.png" alt="Image 2">
    <img src="/images/Banner1.png" alt="Image 1">
    <img src="/images/Banner2.png" alt="Image 2">
    
  </div>
</section>

    <div class="content-wrap">
      <div class="products">
     <% for(let product of products){ %>
      <div class="card" style="width: 18rem;">
        <img src="<%= product.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= product.name  %></h5>
          <p class="card-text"><%= product.description %></p>
          <a href="<%= product.link %>" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <% } %>
    
</div>

    </div>

    <%- include("footer") %>
  </div>
</body>
<script>
const track = document.querySelector(".slider-track");
let index = 0;

setInterval(() => {
    index++;

    // slide left
    track.style.transition = "transform 1s ease-in-out";
    track.style.transform = `translateX(-${index * 50}%)`;

    // when last image reached
    if (index === 7) {
        setTimeout(() => {
            track.style.transition = "none";   // stop animation
            track.style.transform = "translateX(0%)";
            index = 0;
        }, 10); // match transition duration
    }
}, 3000);

</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>



</html>


